@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900');
body {font-family: Lato, sans-serif; }

/* Result Desc Table */
.coins-desc table thead th{ text-align: center; text-transform: uppercase; font-size: 1.2em; }
.coins-desc table tbody tr td:first-child{  font-size: 1.2em; font-weight: bold; }

/* Coin Icons */
.coinicon{ display: inline-block; height: 45px; width: 45px; margin: 0;
	background-size: cover; background-repeat: no-repeat; background-position: center center; }
.coinicon.coin-200{ background-image: url('/img/2pounds.jpg'); }
.coinicon.coin-100{ background-image: url('/img/1pound.jpg'); }
.coinicon.coin-50{ background-image: url('/img/50p.jpg'); }
.coinicon.coin-20{ background-image: url('/img/20p.jpg'); }
.coinicon.coin-10{ background-image: url('/img/10p.jpg'); }
.coinicon.coin-5{ background-image: url('/img/5p.jpg'); }
.coinicon.coin-2{ background-image: url('/img/2p.jpg'); }
.coinicon.coin-1{ background-image: url('/img/1p.jpg'); }

/* Kube modifications */
.row{ padding: 20px; width:calc(100%-40px); }
